---
import LayoutSidebar from "@layouts/LayoutSidebar.astro";
import Users from "@components/Users.astro";
---

<LayoutSidebar>
  <div class="min-h-screen mx-6">
    <Users />
  </div>
</LayoutSidebar>
