---
import LayoutSidebar from "@layouts/LayoutSidebar.astro";
import FormSignIn from "@components/FormSignIn.astro";
---

<LayoutSidebar>
  <div class="min-h-screen align-middle flex pb-[12vh]">
    <FormSignIn />
  </div>
</LayoutSidebar>
