---
import LayoutSidebar from "@layouts/LayoutSidebar.astro";
---

<script>
  import Dropzone from "dropzone";
  console.log("Dropzone", Dropzone);
  import "dropzone/dist/dropzone.css";
  // If you are using an older version than Dropzone 6.0.0,
  // then you need to disabled the autoDiscover behaviour here:
  // Dropzone.autoDiscover = true;

  var myDropzone = new Dropzone("#dropzoneform", {
    thumbnail: function (file, dataUrl) {
      if (file.previewElement) {
        file.previewElement.classList.remove("dz-file-preview");
        var images = file.previewElement.querySelectorAll(
          "[data-dz-thumbnail]",
        );
        for (var i = 0; i < images.length; i++) {
          var thumbnailElement = images[i] as HTMLImageElement;
          thumbnailElement.alt = file.name;
          thumbnailElement.src = dataUrl;
        }
        setTimeout(function () {
          file.previewElement.classList.add("dz-image-preview");
        }, 1);
      }
    },

    dictCancelUpload: "Cancelar",
    dictCancelUploadConfirmation:
      "¿Estás seguro de que quieres cancelar esta carga?",
    dictDefaultMessage: "Arrastra los archivos aquí para subirlos o haz clic",
    dictFallbackMessage:
      "Tu navegador no soporta la carga de archivos con arrastrar y soltar.",
    dictFallbackText:
      "Por favor, utiliza el formulario de abajo para subir tus archivos como en los viejos tiempos.",
    dictFileTooBig:
      "El archivo es muy grande ({{filesize}}MiB). Tamaño máximo: {{maxFilesize}}MiB.",
    dictInvalidFileType: "No puedes subir archivos de este tipo.",
    dictResponseError: "El servidor respondió con el código {{statusCode}}.",
    dictUploadCanceled: "La carga ha sido cancelada.",
    dictRemoveFileConfirmation:
      "¿Estás seguro de que quieres eliminar este archivo?",
    dictRemoveFile: "Eliminar archivo",
    dictMaxFilesExceeded: "No puedes subir más archivos.",
    paramName: "file",
    maxFiles: 10,
    maxFilesize: 10, // MB
    addRemoveLinks: true,
  });
  myDropzone.on("removedfile", function (file) {
    console.log("file removed", file);
  });
</script>
<LayoutSidebar>
  <div class="bg-white py-24 sm:py-32">
    <section class="flex justify-center">
      <div id="dropzone" class="w-[80%]">
        <form
          class="dropzone m-auto text-center !border-dotted border !border-sky-500"
          id="dropzoneform"
          action="/api/file-upload"
        >
          <div class="dz-message needsclick">
            <h2 class="font-extrabold">Subir archivos o soltar aquí</h2><br />
            <span class="text-xs"
              >Archivos aceptados: PDF📑 IMAGES🖼️ TXT📜 AUDIO🎼</span
            >
          </div>
        </form>
      </div>
    </section>
  </div>
</LayoutSidebar>
