---
import LayoutSidebar from "@layouts/LayoutSidebar.astro";
---

<LayoutSidebar>
  <div class="min-h-screen m-3 align-middle flex pb-[12vh] text-white">
    <h1>Machine Learning</h1>

    <h1>TensorFlow.js example</h1>
    <input type="file" id="file-upload" accept="image/*" />
    <img id="img" style="display:none;" />
  </div>

  <script>
    import * as tf from "@tensorflow/tfjs";
    import * as mobilenet from "@tensorflow-models/mobilenet";
    const img = document.getElementById("img") as HTMLImageElement | null;
    const fileUploadElement = document.getElementById("file-upload");
    if (fileUploadElement) {
      fileUploadElement.addEventListener("change", (event) => {
        const target = event.target as HTMLInputElement;
        if (target && target.files) {
          const file = target.files[0];
          const reader = new FileReader();
          reader.readAsDataURL(file);

          reader.onload = (e) => {
            if (img instanceof HTMLImageElement) {
              if (e.target) {
                img.src = (e.target as FileReader).result as string;
              }
              img.style.display = "block";

              // Load the model.
              mobilenet.load().then((model) => {
                // Classify the image.
                model.classify(img).then((predictions) => {
                  console.log("Predictions: ");
                  console.log(predictions);
                });
              });
            } else {
              console.error(
                "Image element not found or is not an HTMLImageElement",
              );
            }
          };
        }
      });
    }
  </script>
</LayoutSidebar>
