---
import LayoutSidebar from "@layouts/LayoutSidebar.astro";
---

<LayoutSidebar>
  <div class="min-h-screen m-3 align-middle flex pb-[12vh] text-white">
    <h1>Machine Learning</h1>
  </div>
</LayoutSidebar>
